body{
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: cursive;
}
.box{
  height: 100px;
  width: 500px;
  background-color: slateblue;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px  rgba(0, 0, 0, 0.3);
  min-width: 400px;
  padding: 70px 20px;
  margin: 5px;
 position: relative;
}



img{
  background-color: antiquewhite;
  height:100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -50px;
}

.name{
  font-size: 13px;
  font-weight: 100;
}
