body{
  margin: 0px;
  border: 1px solid black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  height: 400px;
  width: 600px;
  padding: 20px;
  min-width: 600px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px  rgba(0, 0, 0, 0.3);
  transform: translateY(-70px);
  position: relative;
}
h1{
  font-weight: 10000;
  position: relative;
  left: 50%;
  transform: translate(-15%);
}
.text{
  font-size: 20px;
  margin-bottom: 10px;
}
button{
  display: block;
  margin: 10px 10px 10px 0px;
}
input{
  padding: 12px;
  width: 580px;
  border-radius: 5px;
}
button{
  width: 600px;
  height: 43px;
  color: white;
  background-color: rgba(0, 128, 0, 0.679);
  border: none;
  margin-top: 15px;
  font-size: larger;
}

.totalPrice{
  font-size: 2rem;
  font-weight: bold;
}