
body{
  margin: 0px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}
.container{
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.246);
  border-radius: 10px;

}
h1{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 2.7rem;
  
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
label{
 font-size: large;
 font-weight: bold;
}
input{
  padding: 8px;
  width: 350px;
  border-radius: 5px;
  border: 1px solid rgb(210, 209, 209);
  font-weight: bold;
}
button{
  padding: 10px 20px;
  color: white;
  border: none;
  background-color: rgb(3, 131, 243);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover{
  background-color: rgb(4, 20, 195);
}
