/* body{
  background-color: pink;
  font-family: sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(590px, 1fr));
}

.container{
 
  padding: 80px 0;
  margin: 25px;
}


img{
  width: 590px;
  height: 450px;
  margin: 0 0 35px;
  border-radius: 10px;
}

.tab-container{
  background-color: rgb(255, 228, 232);
  border-radius: 10px;
  max-width: 590px;
}

.buttons{
  display: flex;
}




button{
  background-color: rgb(228, 245, 255);
  width: 34%;
  font-size: 16px;
  font-family: Arial;
  padding: 16px 0;
  border: none;
  outline: none; 
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover{
  color: white;
  background-color: rgb(255, 0, 81);
}

.active{
  background-color: rgb(255, 228, 232);
  pointer-events: none;
  cursor: pointer; 
}

#one, #three{
  border-radius: 5px;
}

#two{
  border-radius: 5px;
}

.tab-content{
  text-align: left;
  padding: 32px 24px;
}

@media (min-width: 998px) {
  .container{
    margin: 0 auto;
    max-width: 950px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

 */
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f5abc9;
  color: grey;
}
img{
  display: block;
  width: 100%;
}
.container{
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  min-width: 340px;
  padding: 5rem 0;
}
.image{
  margin-bottom: 2rem;
   
}
img{
  border-radius: 0.5rem;
  object-fit: cover;
  height: 30rem;
}
.tab-container{
  background: #ffe5e2;
  border-radius: 0.5rem;
  /* border: 3px solid red; */
  display: grid;
  grid-template-rows: auto 1fr;
  
}
.buttons{
  /* border: 3px solid blue; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
button:nth-child(1){
  border-top-left-radius: 0.5rem;
}
button:nth-child(3){
  border-top-right-radius: 0.5rem;
}
button{
  padding: 1rem 0;
  border: none;
  font-size: 1rem;
  background: #b6c9f0;
  cursor: pointer;
  transition: all 0.3s linear;
}
button:hover:not(.active){
  background: #e93b81;
  color: white;
}
.tab-content{
  padding: 2rem 1.5rem;
  /* border: 3px solid green; */
}
.content{
  display: none;
}
button.active{
  background: #ffe5e2;
}
.content.active{
  display: block;
}

@media (min-width: 992px){
  .image{
    margin-bottom:0 ;
  }
  .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
