body{
  background-color: pink;
  font-family: sans-serif;
  margin: 0;
  text-align: center;
}

.container{
  padding: 80px 0;
  margin: 25px;
}


img{
  width: 590px;
  height: 450px;
  margin: 0 0 35px;
  border-radius: 10px;
}

.tab-container{
  background-color: rgb(255, 228, 232);
  border-radius: 10px;
}

.buttons{
  display: flex;
}




button{
  background-color: rgb(228, 245, 255);
  width: 34%;
  font-size: 16px;
  font-family: Arial;
  padding: 16px 0;
  border: none;
  outline: none; 
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover{
  color: white;
  background-color: rgb(255, 0, 81);
}

.active{
  background-color: rgb(255, 228, 232);
  pointer-events: none;
  cursor: pointer; 
}

#one, #three{
  border-radius: 5px;
}

#two{
  border-radius: 5px;
}

.tab-content{
  text-align: left;
  padding: 32px 24px;
}

@media (min-width: 998px) {
  .container{
    margin: 0 auto;
    max-width: 950px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}


