*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  margin: 0;
}
.content{
  background-color: rgb(230, 230, 230);
  padding: 10%;
  width: 500px;
  /* width: 70%;
  max-width: 500px; */
 
}